<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Images/Player/player_dead_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,476},{111,169}}</string>
				<key>offset</key>
				<string>{-55,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,225}</string>
			</dict>
			<key>Images/Player/player_dead_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,120},{114,171}}</string>
				<key>offset</key>
				<string>{-33,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,225}</string>
			</dict>
			<key>Images/Player/player_dead_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,0},{130,168}}</string>
				<key>offset</key>
				<string>{-12,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,225}</string>
			</dict>
			<key>Images/Player/player_dead_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{155,150}}</string>
				<key>offset</key>
				<string>{-1,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,225}</string>
			</dict>
			<key>Images/Player/player_dead_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,0},{164,134}}</string>
				<key>offset</key>
				<string>{12,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,225}</string>
			</dict>
			<key>Images/Player/player_dead_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,119},{171,116}}</string>
				<key>offset</key>
				<string>{22,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,225}</string>
			</dict>
			<key>Images/Player/player_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,493},{111,169}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,235},{111,171}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,134},{112,172}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,291},{111,170}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,298},{111,170}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,179}</string>
			</dict>
			<key>Images/Player/player_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,299},{111,170}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,179}</string>
			</dict>
			<key>Images/Player/player_jump_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,306},{111,170}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,215}</string>
			</dict>
			<key>Images/Player/player_jump_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,323},{111,170}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,215}</string>
			</dict>
			<key>Images/Player/player_jump_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,346},{111,170}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,215}</string>
			</dict>
			<key>Images/Player/player_jump_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,402},{111,170}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,215}</string>
			</dict>
			<key>Images/Player/player_jump_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,457},{111,169}}</string>
				<key>offset</key>
				<string>{-3,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,215}</string>
			</dict>
			<key>Images/Player/player_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,468},{111,170}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,123},{111,175}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{111,173}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_attack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,0},{119,169}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_attack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,0},{120,170}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_attack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,457},{111,169}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_attack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,469},{111,170}}</string>
				<key>offset</key>
				<string>{6,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_attack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,130},{114,169}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
			<key>Images/Player/player_attack_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,0},{123,169}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,177}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Player.png</string>
			<key>realTextureFileName</key>
			<string>Player.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>